.social {
  margin-top: 30px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.social-container {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.icon-container {
  width: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
}

.icon-container img {
  width: 40px;
}

@media (max-width: 1024px) {
  .social {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
